body {
  font-family: Arial, sans-serif;
  background-color: #eaf4f4;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.tela {
  display: none;
}

.ativa {
  display: block;
}

button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.proximo {
  background-color: #007BFF;
}

.proximo:hover {
  background-color: #0056b3;
}